{
  "extends": ["@apify", "plugin:prettier/recommended", "plugin:jest/all"],
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "jest/globals": true
  }
}
